.vscode/**
.vscode-test/**
.github/**
scripts/**
test/**
src/**
.gitignore
.git/**
node_modules/**
out/test/**
**/*.map
**/*.ts
tsconfig.json
package-lock.json
.DS_Store
*.vsix
.history/**
images/icon.svg
